@import url(global.css);
.home{
  background-color: rgb(6, 6, 6) ;
  
}


.header-background{
  background-color: #1f1f20c3;
}

.header-container{
  height: 76px;
  display:grid;
  grid-template-columns: 16fr 3fr 5fr;
  align-items: center;
  justify-content: space-between;
  max-width: 1450px;
  padding-left: 7%;
}


.logo img{
  max-width: 300px;
  padding-left: 100px;
}


.navbar li{
  display: inline-flex;
  width: fit-content;
}


.home-contato a{
  color: #ffffff;
  padding-right: 50px;
}

imgintro img{
  width:400px;
   height: 70% ;
    padding-left: 10%;
     padding-top: 3%;
}

.login-botao li:last-child{
  padding-right: 50px;
    color:#ffffff;
}


.login-botao li:first-child{
  color: #fafbfd; padding-right: 50px;
}


.inicial{ 
width: 1850px;
height: 680px;
display: flex;
 color: #ffffff;
}


.inicial-conteudo{
   display: block;
  margin-top: 5%;
  width:600px;
height: 400px;  
  border-radius: 87px;
background: linear-gradient(180deg, #010101 25%, rgba(76, 73, 73, 0.48) 100%);
  color: #fafbfd;
  padding-right: 5%;
  padding-top: 5%;
}





.inicial-conteudo p{
  font-size: 29px;
  max-width: 30ch;
  padding-bottom: 48px;
  padding-left: 130px;
}


.inicial-conteudo a{
  background-color: #000000;
  padding: 10px 18px;
  border-radius: 100px;
  color: #fafbfd;
  box-shadow: 0px 3px 1px #868C9F;
  margin-left: 250px;
;
}


.mudandovida{
  display: grid;
  grid-template-columns: 500px 5fr;
  justify-items: left;
  align-items: center;
  padding-bottom: 100px;
  padding-left: 10%;
  color: #ffffff;
  padding-top: 5%;
}


.mudandovida-img img{
  display: flex;
  padding-left:300px;
  width: 600px;
  padding-top: 30px;
}


.mudandovida-conteudo h3, .cultura h3{
  color: #ffffff;
  font-size: 50px;
  max-width: 22ch;
  padding-bottom: 100px;
}


.mudandovida-conteudo h2, .cultura h2{
  font-size: 32px;
  padding-bottom: 32px;
}


.mudandovida-conteudo p, .cultura p{
  font-size: 30px;
  padding-bottom: 28px;
}


.cultura-conteudo{
  display: block;
  padding-bottom: 100px;
  padding-left: 10%;
  border-top:  #11DBE8 solid 1px;;
  padding-top: 100px;
  color: #fafbfd;
}


.cultura-conteudo p{
  
  padding-bottom: 2%;
}


.cultura-conteudo h1{
  color: #11DBE8;
 padding-left: 20%;
 font-size: 60px;
}


.começar-conteudo h1{
  color: #11DBE8;;
 font-size: 80px;
 padding-bottom: 50px
}


.começar-conteudo {  
  display: block;
  padding-bottom: 100px;
  padding-left: 30%;
  border-top:  #6580da solid 1px;
  padding-top: 100px;
  color: #fafbfd;
}


.começar-conteudo a{
  margin-left: 80px;
  background-color: #000000;
  padding: 20px 28px 20px 22px;
  border-radius: 100px;
  color: #fafbfd;
  box-shadow: 0px 3px 1px #868C9F;
  margin-left: 15%;
}


.footer {
  border-top:  #6580da solid 1px;;
  background-color: #010101f5;
  width: 1860px;
}


.footer-conteudo{
  display: flex;
  color: #fefeff;
  justify-content:space-evenly;
  justify-items:center;
padding-top: 30px;
padding-bottom: 24px;
margin-top: 10px;
}


.footer-conteudo h3{
  padding-bottom: 24px;
  text-align: center;
  font-size: 24px;
  padding-left: 90px; 
  color: #ffffff;
}


.footer-conteudo a{
  padding-bottom: 10px;
  align-items: center;
  display: flex;
  color: #ffffff;
}


.footer-conteudo a img{
  padding-right: 10px;
  max-width: 50px;
  width: 50px;
}


.redes-icon{

  color: #fafbfd;
  justify-content:space-evenly;
  justify-items:center;
padding-top: 10px;
padding-bottom: 10px;
align-items: center;
display: flex;
padding-left: 100px
}


.redes-icon img{
  max-width: 50px;
  width: 50px;
}


.footer-direitos{
  border-top: #6580da solid 1px;
  padding-bottom: 0px;
  padding-top: 16px;
  color: #868C9F;
  display: flex;
  align-items: center;
  padding-left: 40%
}


.footer-direitos span{
  font-size: 20px;
  display: block;
}


