@import url(global.css);

.background{
  background-repeat: no-repeat; display: block ; position: absolute; background-size: cover;
}


.conteinerinputs{
  background-color: #00000087;
}

.aligninput{
  margin-left: 20%;
}



.allinputs{
  width: 400px;
  height:60px ; 
  background-color: #ffffffee; 
  border-radius: 10px;
  box-shadow: 0px 10px 10px #5c77ad;
  color: #000000;
  padding-left: 5%;
 
}


.div-botaolog p{
  color: #d4d5d7;
  margin-left: 15px;
}

.div-botaolog a{
  margin-bottom: 10px;
  text-decoration: none;
  color: #4573cd;
 margin-left: 130px;
}


.div-botaolog{
  display: grid;
  grid-template-columns: 5fr  ;
  justify-items: center;
  margin-top: 10px;
  margin-right:70% ;

  
}
  


  


  


  